h1 {
    color: rgb(66, 14, 90);
    font-size: 50px;
    text-align: center;
    font-family: fantasy;
}
 
h2 {
    color: rgba(69, 42, 80, 0.904);
    font-family: fantasy; /* For more fonts, check out: https://fonts.google.com/ */
    background-color: rgb(255, 255, 255);
    text-align: center;
}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: #000000;
    font-size: 18px;
    font-family: fantasy;
}

img {
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    margin: 0.5px
}

a:hover {
    color: rgb(70, 159, 219);
  }