h1 {
    color: purple;
    font-size: 65px;
    font-family: cursive;

}

body { 
    background-color: plum;

}

#link {
    color: purple;
    font-family:cursive;
 
    
}
#holiday {
    color:purple;
    font-family: cursive;
    margin-left:900px;

}

#bestepisodes {
    color: purple;
    font-family: cursive;
}

#holidays {
    margin-left: 900px;
    font-family: cursive;
    color:purple
}
#best {
    margin-right: 900px;
    font-family: cursive;
    color: purple;
}
 
a {
    color:inherit;
    font-family: cursive;
    font-size: 25px;

}

img {
    margin: 40px;

}

a:hover {
text-decoration: pink;
text-decoration: underline;
}

