

h1 {
    color: black;
    font-size: 50px;
    font-family: 'Balsamiq Sans', cursive; 
    text-align: center;
   
}

h2 {
    color: black;
    font-family: Oswald;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
 
p {
    color: #000000;
    font-family:'Balsamiq Sans', cursive; 
    font-size: 18px;
    text-align:left;
}

a { color: #000000;
    font-size: 14px;
    text-decoration: underline;
}

a:hover{

    color: thistle;
    text-decoration:underline;
}

#p {
    color: #000000;
    font-family: fantasy;

}

#h1 {
    text-align: center;
}


