
/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color: blue;
    font-size: 50px;
    font-family: 'Gemunu Libre', sans-serif;
    border-width: 12px;
    border-color: darkblue;
    border-style:dotted
}
 
h2 {
    color: rgba(179, 255, 0, 0.664);
    font-family: 'Gemunu Libre', sans-serif;
    background-color: black;
}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: #0400ff;
    font-size: 12px;
}

body {
   background-color: rgb(0, 0, 0); 
   text-align: center;
   font-family: 'Gemunu Libre', sans-serif;

}

h5 {
    color:rgb(255, 255, 255); 
}

p {
    font-size:20px;
    color:white; 
    font-family: 'Gemunu Libre', sans-serif;
}

h4 {
    color:white;
    font-size: 25px;
}

h6 {
   color: white;
}

a:hover {
    color: rgba(179, 255, 0, 0.664)
}

h3 {
    color:white;
    font-family: 'Gemunu Libre', sans-serif;
}