h1 {
    color: #ffea63;
    font-size: 50px;
    font-family: raleway;
}
 
h2 {
    color: #ffea63;
    font-family: raleway; 
    background-color: #424242;
}
 
p {
    color: #ffea63;
    font-size: 12px;
    font-family: raleway;
}
