h1 {
    color: #ffade0;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
 
h2 {
    color: #ffade0;
    font-family: 'Montserrat', sans-serif;  
}
   
body {
    background-color: #ffffff;
    border-style: black;

}


 
p {
    color: #ffade0;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

img {
border-style:groove;
border-width: 5px;
border-color:black;

      
      

}

style
  .img-container {
        text-align: center;
        display: block;
      }

