/* This is a comment! It doesn't affect your code but can be used for descriptions */

h1 { 
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}


a {
    color: #897aa3;
    text-decoration: italic;
}

body {
    background-color: #d5c7ed;
    font-family: Segoe;
    text-align: center;
}

img {
    border-style: solid;
    border-color: #9b95a6;
    border-radius: 3px;
}

a:hover {
    color: #7d68a3;
}