/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color: lightblue;
    font-size: 75px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 
h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;; /* For more fonts, check out: https://fonts.google.com/ */
    background-color: black;
}
 
h3 {
    color: rgb(108, 135, 255);
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: pink;
    font-size: 35px;
}

h4 {
    color:rgb(57, 229, 235);
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

html {
    background-color: plum;

}

h5 {
    color: rgb(145, 255, 209);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

:hover {
    color: pink;
    font-family: fantasy;
}