/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color: #fcd303;
    font-size: 100;
    font-family: 'Montserrat', sans-serif;;
}
 
h3 {
    color: white;
    font-family:'Montserrat', sans-serif;; /* For more fonts, check out: https://fonts.google.com/ */
    
}
 
p {
    color:white;
    font-size: 20;
    font-family: 'Montserrat', sans-serif;;
}

body {
    text-align:center;
    background-color:#c89beb;
    font-family: 'Montserrat', sans-serif;;
    margin:10px;
}



img {
    border-width: 10;
    border-color: #fcd303;
    border-style: solid;
    margin:10px;
}

h2 {
    color: #f76565;
}

#unit {
    color: #f76565;
    font-size: 20;
}


h4 {
    text-align:left;
    color: white;
    font-size: 20;
}

a {
    text-decoration: none;
    color:white;
}

a:visited {
    color:white;
}

a:hover{
    color:#f76565;
    text-decoration:underline;
}

#top h4:hover{
    color:#f76565;
    text-decoration:underline;
} 

#top h4{
    text-align:left;
    color: white;
    font-size: 20px;
    font:'Montserrat', sans-serif;
}

#top li{
    display:inline-block;
    text-align:left;
}




#top{
background-color: #fcd303;;
border-style: solid;
border-width: 2px;
border-bottom: 0.5px;
border-top: 0.5px;
border-right: 0.5px;
border-left: 0.5px;
text-align:left;
}