/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color: 420303e;
    font-size: 50px;
    font-family:'IM Fell English SC', serif;
}
 
h2 {
    color: white;
    font-family: cursive; /* For more fonts, check out: https://fonts.google.com/ */
    background-color: rgb(39, 2, 2);
}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: #34eb4f;
    font-size: 12px;
}

iframe {
    border-style: solid;
    border-width: 10px;
    border-color: black;
}

h3 {
    color: 420303e;
    font-size: 50px;
    font-family:'IM Fell English SC', serif;
}


