/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    text-align: center;
    color: paleturquoise;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
}
 
h2 {
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif; /* For more fonts, check out: https://fonts.google.com/ */
    font-size: 35px;    

}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: black;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;

}

a {
    color: black;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    
}

body {
border-width:12px;
border-color: paleturquoise;
border-style: solid;
text-align: center;
padding: 22px;
margin-top: 30px;
margin-left: 30px;
margin-bottom: 30px;
margin-right: 30px;
}

a:hover {
text-decoration: underline;
color: blue;
}


li {
    text-align: left;
}

img {
border-width: 10px;
border-color: paleturquoise;
border-style: solid;
}

b {
    color: black;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}

h4{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
}