h1 {
    margin: 0;
    font-size: 177px;
    font-family: Open Sans;
    color: white;
    background-color:#bd150f

}
 
h2 {
    color: #e30e07;
    font-family: Scheherazade New;
    font-size: 62px;
}
 
p {
    color: #cc423d;
    font-size: 24px;
    font-family:Raleway;
}

a {
    color: #cf433e;
    font-size: 24px;
    font-family:Raleway;
}

h3 {
    color: #ed5651;
    font-size: 24px;
    font-family:Raleway;
}