h1 {
    color:white;
    font-size: 177px;
    font-family: Open Sans;
    background-color:#85c27e;
}
 
h2 {
    color: #3a784a;
    font-family: Scheherazade New;
    font-size: 62px
}
 
p {
    color: #5cab54;
    font-size: 24px;
    font-family:Raleway;
}

 {
    color: #85c27e;
    font-size: 177px;
    font-family: Open Sans;
}