/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family:'Bebas Neue', cursive;
    text-align: center;
}
 
h2 {
    color: rgb(0, 0, 0);
    font-family:'Bebas Neue', cursive; /* For more fonts, check out: https://fonts.google.com/ */
    background-color: rgb(255, 255, 255);
    text-align: left;
}

h3 {
    color: rgb(0, 0, 0);
    font-family:'Bebas Neue', cursive; /* For more fonts, check out: https://fonts.google.com/ */
    background-color: rgb(255, 255, 255);
}

p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    font-size: 19px;
    color: black
  
}



