h1 {
    color:#ca87e0;
    font-family: 'Galada', cursive; 
}
 
h3 {
    color: darkblue;
    font-family: 'Galada', cursive; 
}
 
p {
    color: #7c7f91;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #fbcdbeff;
}

img {
    border-width: 12px;
    border-style: ridge;
    border-color: #c3ede8;
}

a:hover {
    color:#baffc3;
}

