h1 {
    color: #green(65, 65, 65); 
    text-align: :left;
}
    
body{
background-color: blanchedalmond;    
}

p{text-align: left;}

h2{text-align: left;}

:hover {
color: pink;
font-family: fantasy;
}