/* This is a comment! It doesn't affect your code but can be used for descriptions */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');



body{
   background-color: #EE4498;
   text-align:center;
}
 
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size:25px;
    

}

h3{
    font-family: 'Montserrat', sans-serif; 
    border-width: 5px;
    border-style: solid;
    border-color:black;
    margin:30px; 
    padding: 25px;
    
}

a{
 color:black;
}
a:hover {
    color:white;
}
