/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color: rgb(176, 220, 233); 
    font-size: 29px;
    font-family: cursive;
}
 
h2 {
    color: rgb(250, 199, 199);
    font-size: 29px;
    font-family: cursive; /* For more fonts, check out: https://fonts.google.com/ */

}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: #e7ceff;
    font-size: 23px;
}

img { 
    border-style: groove;
    border-width: 10px;
    border-color: rgb(167, 195, 248);
}

body { 
    text-align: center;
    background-color: floralwhite;
}

a:hover {
    background-color: lightblue;
}