/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color: rgb(140, 220, 245); 
    font-size: 29px;
    font-family: cursive;
}
 
h2 {
    color: rgb(255, 182, 182);
    font-family: cursive; /* For more fonts, check out: https://fonts.google.com/ */
    background-color: rgb(255, 255, 255);
}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: #d7afe7;
    font-size: 20px;
}

img { 
    border-style: groove;
    border-width: 10px;
    border-color: rgb(167, 195, 248);
}

body { 
    text-align: center;
}