/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color:rgb(245, 247, 247);
    font-size: 50px;
    font-family: sans-serif;
    text-align: center

}

 
body {
    color: rgb(255, 255, 255);
    font-family:"Times New Roman", Times, serif; /* For more fonts, check out: https://fonts.google.com/ */
    background-color: #000000;
    text-align: left;
    border-style: line;
    border-color: rgb(255, 255, 255);
    border-width: 12px;
}


 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: #ffffff;
    font-size: 30px;
}
#navbar {

    background-image: "Headerimg.png";
    }
    
    
    
    #navbar li {  
        display: inline-block;
        border-style:radius;
       color: rgb(52, 97, 10);

       

    

