h4 {

    color: #AED5FF
}

h2 {
    color: #AED5FF
    text-align:center;
    font-family:Didot;
}

h5{
    text-align:center;
    font-family:Didot;
    color: #AED5FF
}

h3{
    color: #AED5FF
}
p{
    color: #AED5FF
}

a {
    color: #AED5FF 
  }

a:hover{
    color:#9EA5FF
}

