body {
    background-color: #f2d9ff;
    text-align: center;
}

h1 {
   text-align: center;
}


p  {
    text-align: center;
}

h3  {
    text-align: center;
}

a:hover {
    color: #6e0085;
}

img {
    border-style: solid;
    border-color: black;
}

a {
    font-family: cursive;
    color:plum;
}

#navbar{ 
    border-style: solid; 
    border-width:3px; 
    background-color:#f2d9ff;
    text-align: center;
    border-color:black;
    font-family: cursive;
    border-radius: 3px;
}

