/* This is a comment! It doesn't affect your code but can be used for descriptions */
H1 {
    color: black;
    font-size: 70px;
    font-family: cursive;
}
 
h2 {
    color: black;
    font-family: cursive; /* For more fonts, check out: https://fonts.google.com/ */
    background-color:  #faf5ff;
 }
 
 h6 #Annika{
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: black;
    font-size: 15px;
    font-family: cursive;
 }
 body {
     border-style: dotted;
    border-width: 5px;
     border-color: rgb(227, 204, 236);} 
 img { border-style: dotted;
border-width: 5px;
 border-color: #decae4;
 }

