/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color: rgb(0, 195, 255);
    font-size: 18mm;
    font-family:'Birthstone Bounce';
    text-align: center
}
 
h2 {
    color: rgb(0, 195, 255);
    font-family: 'Covered By Your Grace', fantasy; /* For more fonts, check out: https://fonts.google.com/ */
    font-size:33px;
}
 
p {
    font-family: 'Nanum Pen Script', fantasy;
    font-size: 8mm;
    }

h6 {
    color:rgb(223, 177, 233);
    font-family: cursive;
    font-size: 22px;
}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
    background-color: rgb(189, 235, 241)
}

#navbar li{
    display: inline;
    padding:15px;
    font-size: large;
}

#navbar{
    padding:20px;
    background-image: url('Blue\ Bg\ w:\ Hearts.png');
   overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }
    
    .content {
    padding: 16px;
    }
    
    .sticky + .content {
    padding-top: 60px;
    }

a:hover {
    color: rgb(224, 197, 235);
}

a {
    color: rgb(58, 133, 231);
}